{% extends "fortran/loop_host.F90.j2" %}

{% block prologue %}
{{super()}}

    INTERFACE

SUBROUTINE {{lh.kernel}}_host_c(name, args, nargs, dim, range, block) BIND(C,name='{{lh.kernel}}_host_c')

    USE, INTRINSIC :: ISO_C_BINDING
    import :: ops_block_core, ops_arg

    character(kind=c_char,len=1) :: name(*)
    type(c_ptr), value           :: args
    integer(kind=c_int), value   :: nargs
    integer(kind=c_int), value   :: dim
    type(c_ptr), value      :: range
    type(c_ptr), value      :: block

END SUBROUTINE {{lh.kernel}}_host_c

    END INTERFACE
{% endblock %}

{% block global_decls %}
{% endblock %}

{% block user_kernel_function %}
{% endblock %}

{% block kernel_wrapper_func %}
{% endblock %}

{% block kernel_host_function %}
{% endblock %}

{% block kernel_descriptor_lazy_call %}
    CONTAINS

SUBROUTINE {{lh.kernel}}_host( userSubroutine, block, dim, range, &
{% for arg in lh.args %}
    opsArg{{arg.id+1}}{% if not loop.last %},{% endif %} &
    {% if loop.last %}
    )
    {% endif %}
{% endfor %}

    CHARACTER(KIND=C_CHAR,LEN=*), INTENT(IN), TARGET :: userSubroutine
    TYPE(ops_block), INTENT(IN) :: block
    INTEGER(KIND=4), INTENT(IN) :: dim
    INTEGER(KIND=4), DIMENSION(2*dim), INTENT(INOUT), TARGET :: range
    INTEGER(KIND=4), DIMENSION(2*dim), TARGET :: range_tmp

{% for arg in lh.args %}
    TYPE(ops_arg), INTENT(IN) :: opsArg{{arg.id+1}}
{% endfor %}

    TYPE(ops_arg), DIMENSION({{lh.args|length}}), TARGET :: opsArgArray
    INTEGER(KIND=4) :: n_indx
    CHARACTER(LEN=40) :: namelit

    namelit = "{{lh.kernel}}"

{% for d in range(lh.args|length) %}
    opsArgArray({{d+1}}) = opsArg{{d+1}}
{% endfor %}

    DO n_indx = 1, {{lh.ndim}}
        range_tmp(2*n_indx-1) = range(2*n_indx-1)-1
        range_tmp(2*n_indx)   = range(2*n_indx)
    END DO

    CALL {{lh.kernel}}_host_c(namelit//c_null_char, c_loc(opsArgArray), &
                                    {{lh.args|length}}, dim, c_loc(range_tmp), &
                                    block%blockCptr)

END SUBROUTINE {{lh.kernel}}_host

{% endblock %}

{% block epilogue %}
END MODULE {{lh.kernel | upper}}_MODULE
{% endblock%}
