numawrap*
*.out
*_cu.o
*.o
*_ops.cpp
*_openacc_kernel_c.c
*_openacc_kernel.cpp
*_seq_kernel.cpp
*_mpiinline_kernel.cpp
*_mpiinline_kernel_c.c
*_omp_kernel.cpp
*_cuda_kernel.cu
*_opencl_kernel.cpp
*.cl
.ops_generated
cloverleaf_seq
cloverleaf_mpi
cloverleaf_openmp
cloverleaf_cuda
cloverleaf_openacc
cloverleaf_mpi_openmp
cloverleaf_mpi_cuda
cloverleaf_mpi_openacc
cloverleaf_opencl
cloverleaf_mpi_opencl
cloverleaf_dev_seq
cloverleaf_dev_mpi
*.n001.*
ops/c/lib
ops/fortran/lib
ops/fortran/mod
mblock_dev*
mblock_seq
mblock_mpi*
mblock_cuda
mblock_openmp
mblock_opencl
mblock_openacc
poisson_dev*
poisson_seq
poisson_mpi*
poisson_cuda
poisson_openmp
poisson_opencl
poisson_openacc
*.optrpt
*.h5
*.h5.*
*.mod
*.dat
*.txt
*_seq
*_mpi
*_openmp
*_cuda
*_openacc
*_opencl
*_mpi_openmp
*_mpi_opencl
*_mpi_cuda
*.lst
