stages:
  - build
  - test

job_build:
  stage: build
  tags:
    - CCP, test
  script:
    - echo "Building the project"
    - source ~/.bash_aliases
    - module avail 
    - module load CUDA
    - cmake -S . -B build -DCMAKE_INSTALL_PREFIX=./build/opt 
    - cmake --build build -j 4
    - cmake --install build 
    - ctest --test-dir build --output-on-failure 

job_test:
  stage: test
  tags:
    - CCP, test
  script:
    - echo "Running tests"

