numawrap*
*.out
*_cu.o
*.o
*.n001.*
ops/c/lib
ops/fortran/lib
ops/fortran/mod
*.optrpt
*.h5
*.h5.*
*.mod
*.dat
# TODO this option also disables all CMakefiles
#*.txt
*_seq
*_mpi
*_openmp
*_cuda
*_cuda_tiled
*_tiled
*_hip
*_mpi_hip
*_openacc
*_opencl
*_mpi_openmp
*_mpi_inline
*_mpi_opencl
*_mpi_cuda
*.lst
tea*.in
.clang-format

