{% block header_block %}
#pragma once
{% endblock %}

{% block config_body %}
typedef {{config["stencil_type"]}} stencil_type;
constexpr unsigned int data_width = sizeof(stencil_type) * 8;
constexpr unsigned int max_depth = max_depth_bytes / data_width;
constexpr unsigned int vector_factor = {{config["vector_factor"]}};
constexpr unsigned int mem_vector_factor = {{config["mem_vector_factor"]}};
constexpr unsigned int iter_par_factor = {{config["iter_par_factor"]}};
constexpr unsigned short mem_data_width = data_width * mem_vector_factor;
constexpr unsigned short shift_bits = {{shift_bits(config["mem_data_width"] * config["vector_factor"], config["data_width"])}}; 
constexpr unsigned short axis_data_width = data_width * vector_factor;

#ifdef DBUG_LOG
    #include <stdio.h>
#endif
{% endblock %}