{% macro maxi_name(arg) -%}
arg{{arg.id}}_{{"in" if arg is ops_read}}{{"out" if arg is ops_write}}{{"inout" if arg is ops_rw}}
{%- endmacro -%}
{% macro axis_name(arg) -%}
    {%- if arg is not ops_rw -%}
arg{{arg.id}}_axis_{{"out" if (arg is ops_read) else ("in" if (arg is ops_write))}}
    {%- endif -%}
{%- endmacro -%}
{% macro axis_name_t2(arg, suffix) -%}
arg{{arg.id}}_axis_{{suffix}}
{%- endmacro -%}
{% block header_block %}

#pragma once
#include "common_config.hpp"
#include <ops_hls_datamover.hpp>

{% endblock %}
{% block datamover_dataflow_region %}
{% endblock %}
{% block datamover_prototype %}
extern "C" void datamover_outerloop_{{ilh.id}}(
    {% for i in range(ndim) %}
        const unsigned short range_start_{{i}},
        const unsigned short range_end_{{i}},
    {% endfor%}
    {% for arg in ilh.joint_args|ops_dat %}
        {% for i in range(ndim) %}
        const unsigned short arg{{arg.id}}_gridSize_{{i}},
        {% endfor %}
    {% endfor %}
        const unsigned int outer_itr,
    {% for arg in ilh.joint_args|ops_dat %}
        ap_uint<mem_data_width>* arg{{(arg.id)}},
    {% endfor %}
    {% for arg in ilh.joint_args|ops_dat %}
        {% if (arg is not ops_rw) and arg is is_arg_swap(ilh) %}
        hls::stream <ap_axiu<axis_data_width,0,0,0>>& {{axis_name(arg)-}}{{"," if not loop.last}}
        {% else %}
        hls::stream <ap_axiu<axis_data_width,0,0,0>>& {{axis_name_t2(arg, "out")-}},
        hls::stream <ap_axiu<axis_data_width,0,0,0>>& {{axis_name_t2(arg, "in")-}}{{"," if not loop.last}}
        {% endif %}
    {% endfor %}
    )
{% endblock %}
{% block datamover_body %}
{% endblock %}
{% block  datamover_prototype_end %}
;
{% endblock %}