{%- macro hls_stream_name(arg) -%}
    {%- if arg is not ops_rw -%}
arg{{arg.id}}_{{"rd" if (arg is ops_read) else ("wr" if (arg is ops_write))}}_buffer
    {%- endif -%}
{%- endmacro -%}

{%- macro hls_stream_name_t2(arg, suffix) -%}
arg{{arg.id}}_{{suffix}}_buffer
{%- endmacro -%}

{%- macro buffer_read_idx(buffer) -%}
    {%- if buffer.buffer_type == ops.BufferType.LINE_BUFF -%}
{{buffer.name}}_rd {%- else -%}{{buffer.name}}_rd {%- endif -%}
{%- endmacro -%}

{%- macro buffer_write_idx(buffer) -%}
    {%- if buffer.buffer_type == ops.BufferType.LINE_BUFF -%}
{{buffer.name}}_wr {%- else -%}{{buffer.name}}_wr {%- endif -%}
{%- endmacro -%}

{%- macro chainLinkTranform(link, arg, isread) -%}
    {%- if link is number -%}
arg{{arg.id}}_widenStencilValues[{{link}}]
    {%- elif link is window_buffer -%}
        {%- if isread -%}
arg{{arg.id}}_{{link.name}}[{{arg.stencil_ptr}}_{{buffer_read_idx(link)}}]
        {%- else -%}
arg{{arg.id}}_{{link.name}}[{{arg.stencil_ptr}}_{{buffer_write_idx(link)}}]
        {%- endif -%}
    {%- else -%}
arg{{arg.id}}_{{link}}
    {%- endif -%}
{%- endmacro -%}



{% set half_span_x = (widen_read_stencil_desc.widen_stencil.stencil_size - 1) / 2 %}
{% block header_block %}
#pragma once
#include "common_config.hpp"
#include <ops_hls_stencil_core_v2.hpp>

 
{% set stencil = widen_read_stencil_desc.widen_stencil %}
    {% if stencil is not none %}
static constexpr unsigned short read_num_points = {{stencil.num_points}};
static constexpr unsigned short read_stencil_size = {{stencil.stencil_size}};
static constexpr unsigned short read_stencil_dim = {{stencil.dim}};
    {% endif %}

static constexpr unsigned short write_num_points = 1;
static constexpr unsigned short write_stencil_size = 1;
static constexpr unsigned short write_stencil_dim = {{lh.ndim}};

{% endblock %}

{% block kernel_core %}
inline void kernel_{{lh.kernel}}_core(
    {% for arg in lh.args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_read %}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
        const stencil_type& reg_{{arg.id}}_{{i}}{{"," if (not loop.last or not last_check)}}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if arg is ops_write or ops_rw%}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
        stencil_type& reg_{{arg.id}}_{{i}}{{"," if (not loop.last or not last_check)}}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if arg is ops_idx %}
        const short idx[3]{{"," if (not loop.last or not last_check)}}
        {% endif %}
        {% if arg is ops_gbl %}
        const {{arg.typ}}* {{kernel_args[loop.index0]}}{{"," if not loop.last}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
)
{
#ifdef DEBUG_LOG
    printf("[KERNEL_INTERNAL_CORE]|%s| starting kernel core: kernel_{{lh.kernel}}_core\n",__func__);
#endif
    {{kernel_body}}

#ifdef DEBUG_LOG
    {% for arg in lh.args %}
        {% if arg is ops_read %}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
    printf("[KERNEL_INTERNAL_CORE]|%s| read_val - reg_{{arg.id}}_{{i}}: %f \n", __func__, reg_{{arg.id}}_{{i}});
                {% endfor %}
            {% endif %}
        {% elif arg is ops_write or ops_rw%}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
    printf("[KERNEL_INTERNAL_CORE]|%s| write_val - reg_{{arg.id}}_{{i}}: %f \n", __func__, reg_{{arg.id}}_{{i}});
                {% endfor %}
            {% endif %}
        {% elif arg is ops_idx %}
    printf("[KERNEL_INTERNAL_CORE]|%s| index_val: (%d, %d, %d) \n", __func__, idx[0], idx[1], idx[2]);
        {% endif %}
    {% endfor %}
#endif

#ifdef DEBUG_LOG
    printf("[KERNEL_INTERNAL_CORE]|%s| exiting: kernel_{{lh.kernel}}_core\n",__func__);
#endif
}
{% endblock %}

{% block stencil_class %}
class Stencil_{{lh.kernel}} : public ops::hls::StencilCoreV2<stencil_type, read_num_points, vector_factor, ops::hls::CoefTypes::CONST_COEF,
        read_stencil_size, read_stencil_dim>
{
    using ops::hls::StencilCoreV2<stencil_type, read_num_points, vector_factor, ops::hls::CoefTypes::CONST_COEF,
            read_stencil_size, read_stencil_dim>::m_stencilConfig;
public:

    void stencilRun(
    {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            {% if (arg is not ops_rw) and (arg.dat_id != datMap[arg.dat_id]) %}
            widen_stream_dt& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
            {% else %}
            widen_stream_dt& {{hls_stream_name_t2(arg, "rd")-}},
            widen_stream_dt& {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
            {% endif %}
        {% elif arg is ops_gbl %}
            const {{arg.typ}}& {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
            const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
        )
    {
        ::ops::hls::StencilConfigCore stencilConfig = m_stencilConfig;
    {% set read_origin_wide_diff = lh.get_read_stencil(prog).read_origin_diff %}
    {% set read_origin_wide_diff_x = read_origin_wide_diff.x %}
    {% set read_origin_wide_diff_x  = ((read_origin_wide_diff_x + config["vector_factor"] - 1) / config["vector_factor"])|round(0,"floor")|int %}
    //read_origin_wide_diff_x: {{read_origin_wide_diff_x}}, read_origin_wide_diff: {{read_origin_wide_diff}}
    
    {% if lh.ndim == 1 %}
        short i = -1 -s_stencil_half_span_x;
    {% elif lh.ndim == 2 %}
        short i = {{ (-read_origin_wide_diff_x) - 1}};
        short j = -s_stencil_half_span_x; 
    {% elif lh.ndim == 3 %}
        short i = {{ (-read_origin_wide_diff_x) - 1}};
        short j = {{(-read_origin_wide_diff[1]) }}; 
        short k = -s_stencil_half_span_x;
        unsigned short plane_diff = stencilConfig.grid_size[0] * stencilConfig.grid_size[1] - 1;
    {% endif %}

    {% for stencil_name in lh.get_unique_read_stencil_names() %}
        {% for point  in prog.findStencil(stencil_name).points %}
        // point: {{point}}
        {% endfor %}
        {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
            {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
        // read point: {{buffer.read_point}}, write point: {{buffer.write_point}}
        unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}} = {{(buffer.read_point.x - buffer.write_point.x, 0)|max}};
        unsigned short {{stencil_name}}_{{buffer_write_idx(buffer)}} = {{(buffer.write_point.x - buffer.read_point.x, 0)|max}};
            {% else %}

        unsigned short {{stencil_name}}_{{buffer_read_idx(buffer)}};
        
        if ({{(buffer.read_point - buffer.write_point).y}} * stencilConfig.grid_size[0] + {{(buffer.read_point - buffer.write_point).x}} > 0)
            {{stencil_name}}_{{buffer_read_idx(buffer)}} = {{(buffer.read_point - buffer.write_point).y}} * stencilConfig.grid_size[0] + {{(buffer.read_point - buffer.write_point).x}};
        else
            {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;

        unsigned short {{stencil_name}}_{{buffer_write_idx(buffer)}};
        
        if ({{(buffer.write_point - buffer.read_point).y}} * stencilConfig.grid_size[0] + {{(buffer.write_point - buffer.read_point).x}} > 0)
            {{stencil_name}}_{{buffer_write_idx(buffer)}} = {{(buffer.write_point - buffer.read_point).y}} * stencilConfig.grid_size[0] + {{(buffer.write_point - buffer.read_point).x}};
        else
            {{stencil_name}}_{{buffer_write_idx(buffer)}} = 0;
            {% endif %}
        {% endfor %}
    {% endfor %}

        #pragma HLS ARRAY_PARTITION variable = stencilConfig.lower_limit dim = 1 complete
        #pragma HLS ARRAY_PARTITION variable = stencilConfig.upper_limit dim = 1 complete

    {% if lh.ndim  == 1 %}
        unsigned int iter_limit = stencilConfig.outer_loop_limit;
    {% elif lh.ndim == 2%}
        unsigned int iter_limit = stencilConfig.outer_loop_limit * stencilConfig.grid_size[0]{%- if read_origin_wide_diff_x != 0 %} + {{read_origin_wide_diff_x}}{%- endif %};
    {% else %}
        unsigned int iter_limit = stencilConfig.outer_loop_limit * 
                stencilConfig.grid_size[1] * stencilConfig.grid_size[0] {% if read_origin_wide_diff[1] !=0 -%} + {{read_origin_wide_diff[1]}} * stencilConfig.grid_size[0] {%- endif %} {%- if read_origin_wide_diff_x != 0 %} + {{read_origin_wide_diff_x}}{%- endif %};
    {% endif %}

    {% for arg in lh.args|ops_dat|ops_read_or_rw %}
        {% if lh.ndim == 1 %}
            {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.x - widen_stencil_disc[arg.stencil_ptr].widen_stencil.base_point.x %}
        unsigned int arg{{arg.id}}_read_lb_itr = {{base_offset}};
        unsigned int arg{{arg.id}}_read_ub_itr = {{base_offset}} + stencilConfig.grid_size[0];
        {% elif lh.ndim == 2 %}
            {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.y - widen_stencil_disc[arg.stencil_ptr].widen_stencil.base_point.y %}
        unsigned int arg{{arg.id}}_read_lb_itr = {{base_offset}} * stencilConfig.grid_size[0];
        unsigned int arg{{arg.id}}_read_ub_itr = ({{base_offset}} + stencilConfig.grid_size[1]) * stencilConfig.grid_size[0];
        {% else %}
            {% set base_offset = widen_read_stencil_desc.widen_stencil.base_point.z - widen_stencil_disc[arg.stencil_ptr].widen_stencil.base_point.z %}
        unsigned int arg{{arg.id}}_read_lb_itr = {{base_offset}} * stencilConfig.grid_size[0] * stencilConfig.grid_size[1];
        unsigned int arg{{arg.id}}_read_ub_itr = ({{base_offset}} + stencilConfig.grid_size[2]) * stencilConfig.grid_size[1] * stencilConfig.grid_size[0];
        {% endif %}
    {% endfor %}

    {% for arg in lh.args|ops_dat %}
        {% if arg is ops_read and arg.dat_id != datMap[arg.dat_id] %}
        widen_dt arg{{arg.id}}_read_val = 0;
        {% elif arg is ops_write %}
        widen_dt arg{{arg.id}}_update_val;
        {% else %}
        widen_dt arg{{arg.id}}_read_val = 0;
        widen_dt arg{{arg.id}}_update_val;
        {% endif %}
    {% endfor %}

    {% for arg in lh.args|ops_dat|ops_read_or_rw %}
        widen_dt arg{{arg.id}}_widenStencilValues[read_num_points];
        #pragma HLS ARRAY_PARTITION variable = arg{{arg.id}}_widenStencilValues dim = 1 complete

        {% for buffer in widen_stencil_disc[arg.stencil_ptr].window_buffers %}
        widen_dt arg{{arg.id}}_{{buffer.name}}[max_depth];
        #pragma HLS BIND_STORAGE variable = arg{{arg.id}}_{{buffer.name}} type = ram_t2p impl=uram latency=2
        {% endfor %}

        {% for row_discriptor in prog.findStencil(arg.stencil_ptr).row_discriptors %}
        stencil_type arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[vector_factor + s_stencil_span_x];
        #pragma HLS ARRAY_PARTITION variable = arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}} dim=1 complete
        {% endfor %}
    {% endfor %}

        const short cond_x_val = stencilConfig.grid_size[0] - 1; 
    {% if lh.ndim == 2 %}
        const short cond_y_val = stencilConfig.outer_loop_limit - 1;
    {% elif lh.ndim == 3 %}
        const short cond_y_val = stencilConfig.grid_size[1] - 1;
        const short cond_z_val = stencilConfig.outer_loop_limit - 1;
    {% endif %}

        for (unsigned int itr = 0; itr < iter_limit; itr++)
        {
        #pragma HLS PIPELINE II=1

            spc_temp_blocking_read:
            {
                bool cond_x_terminate = (i == cond_x_val ? true : false); 
    {% if lh.ndim == 2 %}
                bool cond_y_terminate = (j == cond_y_val ? true : false);
    {% elif lh.ndim == 3 %}
                bool cond_y_terminate = (j == cond_y_val ? true : false);
                bool cond_z_terminate = (k == cond_z_val ? true : false);
    {% endif %}

#ifdef DEBUG_LOG
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] loop params before update i(%d), "\
    {% if lh.ndim > 1 %}
                    "j(%d), "\
    {% endif %}
    {% if lh.ndim > 2 %}
                    "k(%d), "\
    {% endif %}
    {% for stencil_name in lh.get_unique_read_stencil_names() %}
        {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
                    "{{stencil_name}}_{{buffer_read_idx(buffer)}}: %d, "\
                    "{{stencil_name}}_{{buffer_write_idx(buffer)}}: %d, "\
        {% endfor %}
    {% endfor %}
                    "itr(%d)\n", m_PEId, i, 
    {% if lh.ndim > 1 %}
                    j,
    {% endif %}
    {% if lh.ndim > 2 %}
                    k,
    {% endif %}
    {% for stencil_name in lh.get_unique_read_stencil_names() %}
        {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
                    {{stencil_name}}_{{buffer_read_idx(buffer)}}, 
                    {{stencil_name}}_{{buffer_write_idx(buffer)}}, 
        {% endfor %}
    {% endfor %}
                    itr);
#endif
                if (cond_x_terminate)
                    i = 0;
                else
                    i++;
    {% if lh.ndim > 1 %}
                if (cond_x_terminate && cond_y_terminate)
                    j = 0;
                else if  (cond_x_terminate)
                    j++;
    {% endif %}
    {% if lh.ndim > 2%}
                if (cond_x_terminate && cond_y_terminate && cond_z_terminate)
                    k = 0;
                else if (cond_x_terminate && cond_y_terminate)
                    k++;
    {% endif %}

    {% for arg in lh.args|ops_dat|ops_read %}
                bool arg{{arg.id}}_read_cond = (itr < arg{{arg.id}}_read_ub_itr) and (itr >= arg{{arg.id}}_read_lb_itr);
    {% endfor %}

    {% for arg in lh.args|ops_dat|ops_read_or_rw %}
                if (arg{{arg.id}}_read_cond)
                    arg{{arg.id}}_read_val = arg{{arg.id}}_rd_buffer.read();
    {% endfor %}
                
    {% for arg in lh.args|ops_dat|ops_read %}
        {% for chain in widen_stencil_disc[arg.stencil_ptr].chains %}                
                {{chainLinkTranform(chain[0], arg, 1)}} = {{chainLinkTranform(chain[1], arg, 0)}};{% endfor %}
    {% endfor %}


    {% for stencil_name in lh.get_unique_read_stencil_names() %}
        {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
            {% if buffer.buffer_type == ops.BufferType.LINE_BUFF %}
                bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}} = {{stencil_name}}_{{buffer_read_idx(buffer)}} >= (stencilConfig.grid_size[0] - 1);
                bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}} = {{stencil_name}}_{{buffer_write_idx(buffer)}} >= (stencilConfig.grid_size[0] - 1);
            {% else %}
                bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}} = {{stencil_name}}_{{buffer_read_idx(buffer)}} >= (plane_diff);
                bool cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}} = {{stencil_name}}_{{buffer_write_idx(buffer)}} >= (plane_diff);
            {% endif %}

                if (cond_end_of_line_buff_{{stencil_name}}_{{buffer_read_idx(buffer)}})
                    {{stencil_name}}_{{buffer_read_idx(buffer)}} = 0;
                else
                    {{stencil_name}}_{{buffer_read_idx(buffer)}}++;

                if (cond_end_of_line_buff_{{stencil_name}}_{{buffer_write_idx(buffer)}})
                    {{stencil_name}}_{{buffer_write_idx(buffer)}} = 0;
                else
                    {{stencil_name}}_{{buffer_write_idx(buffer)}}++;
        {% endfor %}
    {% endfor %}

#ifdef DEBUG_LOG
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] loop params after update i(%d), "\
                {% if lh.ndim > 1 %}
                                "j(%d), "\
                {% endif %}
                {% if lh.ndim > 2 %}
                                "k(%d), "\
                {% endif %}
                {% for stencil_name in lh.get_unique_read_stencil_names() %}
                    {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
                                "{{stencil_name}}_{{buffer_read_idx(buffer)}}(%d), "\
                                "{{stencil_name}}_{{buffer_write_idx(buffer)}}(%d), "\
                    {% endfor %}
                {% endfor %}
                                "itr(%d)\n", m_PEId, i, 
                {% if lh.ndim > 1 %}
                                j,
                {% endif %}
                {% if lh.ndim > 2 %}
                                k,
                {% endif %}
                {% for stencil_name in lh.get_unique_read_stencil_names() %}
                    {% for buffer in widen_stencil_disc[stencil_name].window_buffers %}
                                {{stencil_name}}_{{buffer_read_idx(buffer)}}, 
                                {{stencil_name}}_{{buffer_write_idx(buffer)}}, 
                    {% endfor %}
                {% endfor %}
                                itr);
            
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] --------------------------------------------------------\n\n", m_PEId);

    {% for arg in lh.args|ops_dat|ops_read %}
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] read values arg{{arg.id}}: (", m_PEId);
                for (int ri = 0; ri < vector_factor; ri++)
                {
                    ops::hls::DataConv tmpConverter;
                    tmpConverter.i = arg{{arg.id}}_read_val.range((ri + 1)*s_datatype_size - 1, ri * s_datatype_size);
                    printf("%f ", tmpConverter.f);
                }
                printf(")\n");
    {% endfor %}
#endif      
            }

            vec2arr: for (unsigned short x = 0; x < vector_factor; x++)
            {
#pragma HLS UNROLL factor=vector_factor
    {% for arg in lh.args|ops_dat|ops_read %}
        {% set stencil = prog.findStencil(arg.stencil_ptr) %}
        {% set widen_stencil = widen_stencil_disc[stencil.stencil_ptr].widen_stencil %}
        {% for row_discriptor in stencil.row_discriptors %}
            {% for point in row_discriptor.row_points %}
                {% set widen_point = widen_stencil_disc[stencil.stencil_ptr].point_to_widen_map[point] %}
                {% if point.x == row_discriptor.base_point.x %}
                ops::hls::DataConv arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}};
                arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * (x + 1) - 1, x * s_datatype_size);
                arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[x + s_stencil_half_span_x] = arg{{arg.id}}_tmpConverter_{{point.y}}_{{point.z}}.f; 
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}               
            }
            vec2arr_rest:
            {
    {% for arg in lh.args|ops_dat|ops_read %}
        {% set stencil = prog.findStencil(arg.stencil_ptr) %}
        {% set widen_stencil = widen_stencil_disc[stencil.stencil_ptr].widen_stencil %}
        {% for row_discriptor in stencil.row_discriptors %}
            {% for point in row_discriptor.row_points %}
                {% set widen_point = widen_stencil_disc[stencil.stencil_ptr].point_to_widen_map[point] %}
                {% if point.x != row_discriptor.base_point.x %}
                    {% for i in range(config.vector_factor) %}
                        {% set diff = point.x - row_discriptor.base_point.x %}
                        {% set access_idx = diff * config.vector_factor + row_discriptor.base_point.x + i %}
                        {% if (diff < 0 and access_idx >= 0) or (diff > 0 and access_idx < config.vector_factor + 2 * half_span_x) %}
                //diff = {{diff}}
                // access_idx = {{access_idx}}
                ops::hls::DataConv arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}};
                arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.i = arg{{arg.id}}_widenStencilValues[{{widen_stencil.points.index(widen_point)}}].range(s_datatype_size * ({{i}} + 1) - 1, s_datatype_size * {{i}});
                arg{{arg.id}}_rowArr_{{row_discriptor.row_id[0]}}_{{row_discriptor.row_id[1]}}[{{access_idx}}] = arg{{arg.id}}_tmpConverter_{{point.x}}_{{point.y}}_{{point.z}}_{{i}}.f;
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
            }

            process: for (unsigned short x = 0; x < vector_factor; x++)
            {
#pragma HLS UNROLL factor=vector_factor
                short index = (i << shift_bits) + x;
                bool neg_cond = register_it(             
                        (index < stencilConfig.lower_limit[0]) 
                        || (index >= stencilConfig.upper_limit[0])
    {% if lh.ndim > 1 %}
                        || (j < stencilConfig.lower_limit[1]) 
                        || (j >= stencilConfig.upper_limit[1])
    {% endif %}
    {% if lh.ndim > 2 %}
                        || (k < stencilConfig.lower_limit[2]) 
                        || (k >= stencilConfig.upper_limit[2])
    {% endif %}
                );

#ifdef DEBUG_LOG
    {% if lh.ndim == 1 %}
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] index=(%d), lowerbound=(%d), upperbound=(%d), neg_cond=%d\n", m_PEId, index,
                            stencilConfig.lower_limit[0], stencilConfig.upper_limit[0], neg_cond);

    {% elif lh.ndim == 2 %}
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] index=(%d, %d), lowerbound=(%d, %d), upperbound=(%d, %d), neg_cond=%d\n", m_PEId, index, j,
                            stencilConfig.lower_limit[0], stencilConfig.lower_limit[1], stencilConfig.upper_limit[0], stencilConfig.upper_limit[1], neg_cond);
    {% else %}
                printf("[DEBUG][INTERNAL][{{lh.kernel}}_PE_%d] index=(%d, %d, %d), lowerbound=(%d, %d, %d), upperbound=(%d, %d, %d), neg_cond=%d\n", m_PEId, index, j, k,
                            stencilConfig.lower_limit[0], stencilConfig.lower_limit[1], stencilConfig.lower_limit[2], 
                            stencilConfig.upper_limit[0], stencilConfig.upper_limit[1], stencilConfig.upper_limit[2], neg_cond);

    {% endif %}
#endif
    {% for arg in lh.args|ops_dat %}
        {% if (arg is ops_write or arg is ops_rw) or (not isFullyMapped and arg.dat_id == datMap[arg.dat_id]) %}
                stencil_type arg{{arg.id}}_result;
        {% endif %} 
    {% endfor %}

    {% if lh.arg_idx != -1 %}
                short idx[] = {index, {% if lh.ndim > 1 %}j,{% else %}1,{% endif %} {% if lh.ndim > 2 %}k{% else %}1{% endif %}};
    {% endif %}

                kernel_{{lh.kernel}}_core(
    {% for arg in lh.args %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_read %}
            {% if prog.findStencil(arg.stencil_ptr) %}
            {% set base_offset = lh.get_read_stencil(prog).base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                        arg{{arg.id}}_rowArr_{{prog.findStencil(arg.stencil_ptr).points[i].y}}_{{prog.findStencil(arg.stencil_ptr).points[i].z}}[x + {{prog.findStencil(arg.stencil_ptr).points[i].x + base_offset}}]{{"," if (not loop.last or not last_check)}}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if arg is ops_write or ops_rw%}
            {% if prog.findStencil(arg.stencil_ptr) %}
                {% for i in range(prog.findStencil(arg.stencil_ptr).num_points)%}
                        arg{{arg.id}}_result{{"," if (not loop.last or not last_check)}}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if arg is ops_idx %}
                        idx{{"," if (not loop.last or not last_check)}}
        {% endif %}
        {% if arg is ops_gbl %}
                        &{{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
                        {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
                );

    {% for arg in lh.args|ops_dat %}
        {% if (arg is ops_write or arg is ops_rw) or (not isFullyMapped and arg.dat_id == datMap[arg.dat_id]) %}
                ops::hls::DataConv arg{{arg.id}}_tmpConvWrite;
        {% endif %}
    {% endfor %}

                if (not neg_cond)
                {
    {% for arg in lh.args|ops_dat|ops_write %}
                    arg{{arg.id}}_tmpConvWrite.f = arg{{arg.id}}_result;
    {% endfor %}
                }
                else
                {

    {% for arg in lh.args|ops_dat|ops_write %}
    {% set base_offset = lh.get_read_stencil(prog).base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
                    arg{{arg.id}}_tmpConvWrite.f = arg{{get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).id}}_rowArr_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.y}}_{{prog.findStencil(get_read_arg_from_dat(lh.dats[datMap[arg.dat_id]], lh).stencil_ptr).base_point.z}}[x + {{base_offset}}];
    {% endfor %}
                }
    {% if not isFullyMapped %}
        {% for arg in lh.args|ops_dat|ops_read %}
        {% set base_offset = lh.get_read_stencil(prog).base_point.x - prog.findStencil(arg.stencil_ptr).base_point.x %}
            {% if arg.dat_id == datMap[arg.dat_id] %}
                    arg{{arg.id}}_tmpConvWrite.f = arg{{arg.id}}_rowArr_{{prog.findStencil(arg.stencil_ptr).base_point.y}}_{{prog.findStencil(arg.stencil_ptr).base_point.z}}[x + {{prog.findStencil(arg.stencil_ptr).base_point.x + base_offset}}];
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for arg in lh.args|ops_dat %}
        {% if (arg is ops_write or arg is ops_rw) or (not isFullyMapped and arg.dat_id == datMap[arg.dat_id]) %}
                arg{{arg.id}}_update_val.range(s_datatype_size * (x + 1) - 1, x * s_datatype_size) = arg{{arg.id}}_tmpConvWrite.i;
        {% endif %}
    {% endfor %} 
            }

            write:
            {
    {% if lh.get_read_stencil(prog).dim == 1 %}
                bool cond_write = (i >= 0);
    {% elif lh.get_read_stencil(prog).dim == 2 %}
                bool cond_write = (j >= 0);
    {% else %}
                bool cond_write = (k >= 0);
    {% endif %}
    
                if (cond_write)
                {
    {% for arg in lh.args|ops_dat %}
        {% if (arg is ops_write or arg is ops_rw) or (not isFullyMapped and arg.dat_id == datMap[arg.dat_id]) %}
                    {{hls_stream_name_t2(arg, "wr")}} <<  arg{{arg.id}}_update_val;
        {% endif %}
    {% endfor %}
                }
            }
        }
    } 
};
{% endblock %}

{% block kernel_PE %}
void kernel_{{lh.kernel}}_PE(const short& PEId, const ops::hls::StencilConfigCore& stencilConfig,
    {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            {% if ((arg is not ops_rw) and (arg.dat_id != datMap[arg.dat_id])) %}
            Stencil_{{lh.kernel}}::widen_stream_dt& {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
            {% else %}
            Stencil_{{lh.kernel}}::widen_stream_dt& {{hls_stream_name_t2(arg, "rd")-}},
            Stencil_{{lh.kernel}}::widen_stream_dt& {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
            {% endif %}
        {% elif arg is ops_gbl %}
            const {{arg.typ}}& {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}
    {% for const in consts %}
        const {{const.typ}}& {{const.ptr}}{{"," if not loop.last}}
    {% endfor %}
)
{
    Stencil_{{lh.kernel}} stencil;

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG]|%s| stencil config gridSize: %d (xblocks), %d, %d\n", __func__, stencilConfig.grid_size[0], stencilConfig.grid_size[1], stencilConfig.grid_size[2]);
#endif
    stencil.setConfig(PEId, stencilConfig);

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG]|%s| starting stencil kernel PE\n", __func__);
#endif

    stencil.stencilRun(
        {% for arg in lh.args|ops_not_idx %}
        {% if loop.last %}
            {% if consts %}
                {% set last_check = False %}
            {% else %}
                {% set last_check = True %}
            {% endif %}
        {% else %}
            {% set last_check = False %}
        {% endif %}
        {% if arg is ops_dat %}
            {% if (arg is not ops_rw) and (arg.dat_id != datMap[arg.dat_id]) %}
            {{hls_stream_name(arg)-}}{{"," if (not loop.last or not last_check)}}
            {% else %}
            {{hls_stream_name_t2(arg, "rd")-}},
            {{hls_stream_name_t2(arg, "wr")-}}{{"," if (not loop.last or not last_check)}}
            {% endif %}
        {% elif arg is ops_gbl %}
            {{get_arg_gbl_name(arg)}}{{"," if (not loop.last or not last_check)}}
        {% endif %}
    {% endfor %}    
    {% for const in consts %}
            {{const.ptr}}{{"," if not loop.last}}
    {% endfor %});

#ifdef DEBUG_LOG
    printf("[KERNEL_DEBUG]|%s| Ending stencil kernel PE\n", __func__);
#endif
} 
{% endblock %}