[connectivity]
{% for ilh, program in app.uniqueOuterLoops() %}
    {% for slr_id in range(config["SLR_count"]) %}
        {% if not loop.first %}
nk=kernel_outerloop_{{ilh.id}}:1:kernel_outerloop_{{ilh.id}}_{{slr_id+1}}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for ilh, program in app.uniqueOuterLoops() %}
    {% for arg in ilh.joint_args|ops_dat %}
        {% if arg is ops_read or arg is ops_rw %}
stream_connect=datamover_outerloop_{{ilh.id}}_1.arg{{arg.id}}_axis_out:kernel_outerloop_{{ilh.id}}_1.arg{{arg.id}}_axis_in:{{config["axis_interconnect_buff_size"]}}
        {% endif %}
        {% if arg is ops_write or arg is ops_rw %}
            {% for slr_id in range(config["SLR_count"]) %}
                {% if loop.last %}
stream_connect=kernel_outerloop_{{ilh.id}}_{{slr_id+1}}.arg{{arg.id}}_axis_out:datamover_outerloop_{{ilh.id}}_1.arg{{arg.id}}_axis_in:{{config["axis_interconnect_buff_size"]}}
                {% else %}
stream_connect=kernel_outerloop_{{ilh.id}}_{{slr_id+1}}.arg{{arg.id}}_axis_out:kernel_outerloop_{{ilh.id}}_{{slr_id+2}}.arg{{ilh.getArg(ilh.dat_swap_map[arg.dat_id]).id}}_axis_in:{{config["axis_interconnect_buff_size"]}}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if config["platform_is_multi_slr"] %}
    {% for ilh, program in app.uniqueOuterLoops() %}
        {% for slr_id in range(config["SLR_count"]) %}
slr=kernel_outerloop_{{ilh.id}}_{{slr_id+1}}:SLR{{slr_id}}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if config["platform_is_sb_selectable"] %}
    {% for ilh, program in app.uniqueOuterLoops() %}
        {% for arg in ilh.joint_args|ops_dat %}
sp=datamover_outerloop_{{ilh.id}}_1.arg{{arg.id}}:HBM[{{arg.id}}]
        {% endfor %}
    {% endfor %}
{% endif %}

{% if config["profile"] %}
[profile]
data=all:all:all
memory=all
stall=all:all
exec=all:all
{% endif %}
