{% extends "cpp/master_kernel.cpp.j2" %}

{% block ops_headers %}
{{super()}}
{% endblock %}

{% block ops_user_types %}
{% if user_types %}
#include "user_types.h"
{% endif %}
{% endblock %}

{% block const_decls %}
//  global constants
    {% for const in app.consts() %}
    {% if const.dim.isdigit() %}
        {% set NDIM = const.dim|int %}
            {% if NDIM > 1 %}
extern {{const.typ}} {{const.ptr}}[{{NDIM}}];
            {% else %}
extern {{const.typ}} {{const.ptr}};
            {% endif %}
    {% else %}
extern {{const.typ}} *{{const.ptr}};
    {% endif %}
    {% endfor %}

void ops_init_backend(){}
{% endblock %}

{% block header_includes %}
{{super()}}
{% endblock %}
