{% block reduction_m_dim_real %}
!   ======================================================
!   Multi-dimensional reduction cuda kernel - REAL(KIND=8)
!   ======================================================
ATTRIBUTES (DEVICE) SUBROUTINE ReductionReal8Mdim(sharedReal8, reduction_res, input_value, reduction_op, dim)

!   ====================
!   Subroutine Arguments
!   ====================
    REAL(KIND=8), DIMENSION(0:*) :: sharedReal8
    REAL(KIND=8), DIMENSION(:), DEVICE :: reduction_res
    REAL(KIND=8), DIMENSION(:), INTENT(IN) :: input_value
    INTEGER(KIND=4), VALUE :: reduction_op
    INTEGER(KIND=4), VALUE :: dim

!   ==========
!   Local Data
!   ==========
    INTEGER(KIND=4) :: i1, i2
    INTEGER(KIND=4) :: d
    INTEGER(KIND=4) :: threadID

    threadID = (threadIdx%y-1)*blockDim%x + (threadIdx%x - 1)
    i1 = ishft(blockDim%x*blockDim%y,-1)

    CALL syncthreads()

    sharedReal8(threadID*dim:threadID*dim+dim-1) = input_value(1:dim)

    DO WHILE (i1 > 0 )
        CALL syncthreads()
        IF (threadID < i1) THEN
            SELECT CASE(reduction_op)
                CASE (0)
                    DO i2 = 0, dim-1
                        sharedReal8(threadID*dim + i2) = sharedReal8(threadID*dim + i2) + sharedReal8((threadID + i1)*dim + i2)
                    END DO
                CASE (1)
                    DO i2 = 0, dim-1
                        IF (sharedReal8((threadID + i1)*dim + i2) < sharedReal8(threadID*dim + i2)) THEN
                            sharedReal8(threadID*dim + i2) = sharedReal8((threadID + i1)*dim + i2)
                        END IF
                    END DO
                CASE (2)
                    DO i2 = 0, dim-1
                        IF (sharedReal8((threadID + i1)*dim + i2) > sharedReal8(threadID*dim + i2)) THEN
                            sharedReal8(threadID*dim + i2) = sharedReal8((threadID + i1)*dim + i2)
                        END IF
                    END DO
            END SELECT
        END IF
        i1 = ishft(i1,-1)
    END DO

    CALL syncthreads()

    IF (threadID .EQ. 0) THEN
        SELECT CASE(reduction_op)
            CASE (0)
                reduction_res(1:dim) = reduction_res(1:dim) + sharedReal8(0:dim-1)
            CASE (1)
                DO i2 = 1, dim
                    IF (sharedReal8(i2-1) < reduction_res(i2)) THEN
                        reduction_res(i2) = sharedReal8(i2-1)
                    END IF
                END DO
            CASE (2)
                DO i2 = 1, dim
                    IF (sharedReal8(i2-1) > reduction_res(i2)) THEN
                        reduction_res(i2) = sharedReal8(i2-1)
                    END IF
                END DO
        END SELECT
    END IF

  CALL syncthreads()

END SUBROUTINE ReductionReal8Mdim
{% endblock %}
