
{% block ops_headers %}
// headers
#define OPS_{{app.global_dim}}D
{% if soa_set %}
#define OPS_SOA
{% endif %}
#define OPS_API 2
#include "ops_lib_core.h"

#ifdef OPS_MPI
#include "ops_mpi_core.h"
#include <limits>
#endif
{% endblock %}

{% block dim_struct %}
{% endblock %}

{% block const_decls required %}
{% endblock %}

{% block config %}
{% endblock%}

{% block header_includes %}
// user kernel files
    {% for lh, p in app.uniqueLoops() %}
        {% if not outerloop_enbl or lh.iterativeLoopId == -1 %}
#include "{{lh.kernel}}_kernel.{{include_extension}}"
        {% endif %}
    {% endfor %}
    {% if outerloop_enbl %}
        {% for ilh, p in app.uniqueOuterLoops() %}
#include "outerloop_{{loop.index0}}.{{include_extension}}"
        {% endfor%}
    {% endif %}
{% endblock %}
