
{% block ops_headers %}
// headers
#define OPS_{{app.global_dim}}D
{% if soa_set %}
#define OPS_SOA
{% endif %}
#define OPS_API 2
{% endblock %}
#include "ops_lib_core.h"

{% block ops_user_types %}
{% endblock %}

#ifdef OPS_MPI
#include "ops_mpi_core.h"
#include <limits>
#endif


{% block dim_struct %}
{% endblock %}

{% block const_decls required %}
{% endblock %}

{% block header_includes %}
// user kernel files
{% for lh,p in app.uniqueLoops() %}
{% if lh.kernel == "calc_dt_kernel_print" and target.name == "sycl" %}
#include "../mpi_openmp/{{lh.kernel}}_kernel.{{include_extension}}"
{% else %}
#include "{{lh.kernel}}_kernel.{{include_extension}}"
{% endif %}
{% endfor %}
{% endblock %}
