
// headers
#define OPS_{{app.global_dim}}D
{% if soa_set %}
#define OPS_SOA
{% endif %}
#define OPS_API 2
#include "ops_lib_core.h"
#ifdef OPS_MPI
#include "ops_mpi_core.h"
#endif
{% if user_types %}
#include "user_types.h"
{% endif %}

// global constants
{% block const_decls %}
    {% for const in app.consts() %}
    {% if const.dim.isdigit() %}
        {% set NDIM = const.dim|int %}
            {% if NDIM > 1 %}
extern {{const.typ}} {{const.ptr}}[{{NDIM}}];
            {% else %}
extern {{const.typ}} {{const.ptr}};
            {% endif %}
    {% else %}
extern {{const.typ}} *{{const.ptr}};
    {% endif %}
    {% endfor %}
{% endblock %}

{% block initializaion %}
void ops_init_backend(){}
{% endblock %}

// user kernel files
{% for lh,p in app.uniqueLoops() %}
#include "{{lh.kernel}}_kernel.cpp"
{% endfor %}
